In [1]:
import pandas as pd
import random
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#reading in a dataframe that contains image arrays, patient IDs ("subject"), and diagnosis
m2 = pd.read_pickle("../../data/PPMI/MRI_nobrain/mri_meta_2D_4class_nobrain.pkl")

In [3]:
m2.head()

                                           img_array label PATNO Visit
0  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     2   14426_V06
1  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     2    14426_BL
2  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     2    15761_BL
3  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     2   16644_V04
4  [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...     2   16644_V06

In [4]:
m2['img_array'][0].shape

(3, 72, 72)

In [5]:
m2['label'].value_counts()

1    532
0    133
2     81
3     73
Name: label, dtype: int64

In [6]:
len(m2)

819

In [7]:
#there are 238 unique patients
subjects = list(set(m2["PATNO Visit"].values))
len(subjects)

819

In [8]:
0.1*len(m2) #10% for testing

81.9

## 单模态多模态独立测试集

In [9]:
val = pd.read_pickle("../../processed_data/PPMI/overlap/X_val_img.pkl")
test = pd.read_pickle("../../processed_data/PPMI/overlap/X_test_img.pkl")

In [11]:
val

                                                     img_array
PATNO Visit
3154_BL      [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3106_V04     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3165_V04     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3150_BL      [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3822_V04     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
...                                                        ...
3178_V06     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
60091_BL     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3185_BL      [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3857_V06     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3819_V04     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...

[125 rows x 1 columns]

In [10]:
test

                                                     img_array
PATNO Visit
3101_BL      [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
4005_V04     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3808_V06     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3318_V06     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3360_V04     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
...                                                        ...
3179_V06     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
4019_V04     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3120_BL      [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3865_BL      [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3573_V06     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...

[126 rows x 1 columns]

In [12]:
X_val_list=val.index.values.tolist()
X_test_list=test.index.values.tolist()

In [13]:
newm2=m2[~m2['PATNO Visit'].isin(X_test_list) & ~m2['PATNO Visit'].isin(X_val_list)]

In [14]:
X_train=newm2['img_array']

In [15]:
X_train.index=newm2['PATNO Visit']

In [16]:
X_train

PATNO Visit
14426_BL     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
16644_V04    [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
16644_V06    [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
17608_BL     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
3101_V06     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
                                   ...
65006_BL     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
85236_BL     [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
85236_V06    [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
85242_V04    [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
85242_V06    [[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0...
Name: img_array, Length: 568, dtype: object

In [17]:
y_train=newm2['label']
y_train.index=newm2['PATNO Visit']

In [18]:
y_train

PATNO Visit
14426_BL     2
16644_V04    2
16644_V06    2
17608_BL     2
3101_V06     3
            ..
65006_BL     2
85236_BL     2
85236_V06    2
85242_V04    2
85242_V06    2
Name: label, Length: 568, dtype: object

In [19]:
pd.DataFrame(X_train).to_pickle("../../processed_data/PPMI/MRI_nobrain/X_train_img.pkl")
y_train.to_csv('../../processed_data/PPMI/MRI_nobrain/y_train.csv')

## 单模态多模态不独立测试集

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(m2['img_array'], m2['label'], test_size=0.2, stratify=m2['label'])

In [10]:
pd.DataFrame(X_train).to_pickle("../../processed_data/PPMI/MRI_nobrain/X_train_img.pkl")
pd.DataFrame(X_test).to_pickle("../../processed_data/PPMI/MRI_nobrain/X_test_img.pkl")

In [11]:
y_train.to_csv('../../processed_data/PPMI/MRI_nobrain/y_train.csv')
y_test.to_csv('../../processed_data/PPMI/MRI_nobrain/y_test.csv')

In [12]:
y_test.value_counts()

1    106
0     27
2     16
3     15
Name: label, dtype: int64

In [13]:
y_train.value_counts()

1    426
0    106
2     65
3     58
Name: label, dtype: int64